body {
  background-image: url(background-4.jpg);
  background-repeat: repeat;
  margin: auto;
}
.water {
  width: 20px;
}
.weather-icon {
  width: 40px;
}
.mainContent {
  font-family: "Antic Slab", serif;
  background-color: lightgrey;
  border: solid 1px #cccccc;
  border: #cccccc 1px;
  margin: auto;
  width: 85%;
}

.login {
  margin: ;
  display: flex;
  margin-bottom: 10%;
}

.username {
  margin-left: 40%;
  font-size: 10;
}

.button-2 {
  font-family: "Antic Slab", serif;
  font-size: 15px;
  background-color: #558b2f;
  color: white;
  width: fit-content;
  height: 50px;
  margin-left: 1%;
  padding: 1%;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.logo {
  font-size: 5em;
  text-align: center;
  margin-bottom: 15%;
}

.logo-1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 10%;
}

.search-container {
  margin: auto;
  width: 70%;
  margin-bottom: 20%;
}

.search-bar {
  width: 80%;
  height: 2em;
  border-radius: 4px;
}

.button {
  background-color: #558b2f;
  color: white;
  width: 15%;
  height: 30px;
  margin-left: 1%;
  padding: 1%;
  text-align: center;
  border-radius: 4px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  background: whitesmoke;
  border: solid #558b2f 1px;
  max-height: 100%;
  border-radius: 2px;
  height: auto;
  margin: 5%;
  position: relative;
  width: 200px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: center;
  padding: 2%;
}
.card > .img-container {
  height: 200px;
  overflow: hidden;
  text-align: center;
}
.card > .img-container > img {
  width: 100%;
}
.day {
  background: whitesmoke;

  flex-flow: row nowrap;
  margin: 5%;

  padding: 5px 10px 25px 10px;
  text-align: center;
  min-height: 70%;
  min-width: 80%;
  border: solid #558b2f 1px;
  border-radius: 4px;
}

.day p {
  margin: auto;
  padding: 1%;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: 80%;
  margin: 10%;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.plants {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
