

.mainContent{
  background-color: lightgrey;
  margin:  auto;
  width: 80%;
  border: #cccccc 1px;
  opacity: 80%;
}

.card {
  
  background: #fff;
  border-radius: 2px;
  height: auto;
  margin: 1rem;
  position: relative;
  width: 200px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: center;
  padding: 2%;
}
.card > .img-container {

  height: 200px;
  overflow: hidden;
  text-align: center;
}
.card > .img-container > img {
  width: 100%;
}
.day {
  background: #cccccc;
  opacity: 90%;
  /* flex-flow: row nowrap; */
  margin: 7%;
  padding: 5px 10px 25px 10px;
  text-align: center;
  max-height: 70%;
  max-width: 100%;
  border: solid green 1px;
  border-radius: 4px;
}

.calendar {
  display: flex;
  margin: auto;
  align-content: center;
}